body {
    color:# ;
    font-size: 87.5%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}
a:link, a:visited{

}

a:hover, a:active{

}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.titlebar{
    width:100%;
    height: auto;
    margin: 3% 0;
    text-align: center;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }